In [23]:
import pandas as pd
from scipy import stats
from scipy.stats import ttest_ind, ttest_ind_from_stats
import numpy as np

In [2]:
park_price=pd.read_csv('Distance_to_parks_Price.csv')
BX=pd.read_csv('Price_by_distance_BX.csv')
farther1=pd.read_csv('price_distance_br_farther1.csv')
greenpoint=pd.read_csv('Price_distance_Greenpoint.csv')
w4=pd.read_csv('Price_Distance_W4.csv')
br=pd.read_csv('price_time_distance_BR.csv')
qn=pd.read_csv('SummarizeQNPrice.csv')

In [9]:
park_price

,Point_Count,Name,FromBreak,ToBreak,Selected_N,Prop_ID,Barbecue,Basketball,Dogfriend,Eateries,Playground,Tennis,skate,parknum,area,park_name,ORIG_FID,AnalysisArea,MEAN_price_clea,STD_price_clea
0,4774,Location 1 : 10 - 15,10.0,15.0,St. Nicholas Park,M077,2,5,1,0,3,0,0,M077,0.122774,St. Nicholas Park,6,0.693841,104.631127,68.473184
1,2008,Location 1 : 5 - 10,5.0,10.0,St. Nicholas Park,M077,2,5,1,0,3,0,0,M077,0.122774,St. Nicholas Park,6,0.292836,106.712151,57.382160
2,114,Location 1 : 0 - 5,0.0,5.0,St. Nicholas Park,M077,2,5,1,0,3,0,0,M077,0.122774,St. Nicholas Park,6,0.067073,116.078947,69.160215

In [21]:
def t_test(abar,astd,na,bbar,bstd,nb):
    t2, p2 = ttest_ind_from_stats(abar, astd, na,
                              bbar, bstd, nb,
                              equal_var=False)
    print("ttest_ind_from_stats: t = %g  p = %g" % (t2, p2))

In [24]:
t_test(park_price['MEAN_price_clea'].iloc[0],park_price['STD_price_clea'].iloc[0],park_price['Point_Count'].iloc[0],
      park_price['MEAN_price_clea'].iloc[1],park_price['STD_price_clea'].iloc[1],park_price['Point_Count'].iloc[1])

ttest_ind_from_stats: t = -1.28519  p = 0.198791

In [25]:
t_test(park_price['MEAN_price_clea'].iloc[0],park_price['STD_price_clea'].iloc[0],park_price['Point_Count'].iloc[0],
      park_price['MEAN_price_clea'].iloc[2],park_price['STD_price_clea'].iloc[2],park_price['Point_Count'].iloc[2])

ttest_ind_from_stats: t = -1.74701  p = 0.0832302

In [26]:
t_test(park_price['MEAN_price_clea'].iloc[1],park_price['STD_price_clea'].iloc[1],park_price['Point_Count'].iloc[1],
      park_price['MEAN_price_clea'].iloc[2],park_price['STD_price_clea'].iloc[2],park_price['Point_Count'].iloc[2])

ttest_ind_from_stats: t = -1.41861  p = 0.158563

In [10]:
BX

,Point_Count,Name,FromBreak,ToBreak,Selected_N,Prop_ID,Barbecue,Basketball,Dogfriend,Eateries,Playground,Tennis,skate,parknum,area,park_name,ORIG_FID,AnalysisArea,MEAN_price_clea,STD_price_clea
0,109,Location 1 : 10 - 15,10.0,15.0,Crotona Park,X010,1,6,2,3,12,1,0,X010,0.695278,Crotona Park,1,0.727880,51.412844,37.406974
1,34,Location 1 : 5 - 10,5.0,10.0,Crotona Park,X010,1,6,2,3,12,1,0,X010,0.695278,Crotona Park,1,0.424332,37.941176,13.364224
2,0,Location 1 : 0 - 5,0.0,5.0,Crotona Park,X010,1,6,2,3,12,1,0,X010,0.695278,Crotona Park,1,0.147687,NaN,NaN

In [27]:
t_test(BX['MEAN_price_clea'].iloc[0],BX['STD_price_clea'].iloc[0],BX['Point_Count'].iloc[0],
      BX['MEAN_price_clea'].iloc[1],BX['STD_price_clea'].iloc[1],BX['Point_Count'].iloc[1])

ttest_ind_from_stats: t = 3.16735  p = 0.00189262

In [11]:
farther1

,Point_Count,Name,FromBreak,ToBreak,Selected_N,Prop_ID,Barbecue,Basketball,Dogfriend,Eateries,Playground,Tennis,skate,parknum,area,park_name,ORIG_FID,AnalysisArea,MEAN_price_clea,STD_price_clea
0,3362,Location 1 : 25 - 30,25.0,30.0,Prospect Park,B073,12,0,1,1,7,1,1,B073,2.523662,Prospect Park,3,1.639607,111.282570,77.166411
1,4720,Location 1 : 20 - 25,20.0,25.0,Prospect Park,B073,12,0,1,1,7,1,1,B073,2.523662,Prospect Park,3,1.358560,123.127542,96.926599
2,3634,Location 1 : 15 - 20,15.0,20.0,Prospect Park,B073,12,0,1,1,7,1,1,B073,2.523662,Prospect Park,3,0.999154,123.118052,92.610048
3,1978,Location 1 : 10 - 15,10.0,15.0,Prospect Park,B073,12,0,1,1,7,1,1,B073,2.523662,Prospect Park,3,0.600621,125.889788,94.365704
4,150,Location 1 : 5 - 10,5.0,10.0,Prospect Park,B073,12,0,1,1,7,1,1,B073,2.523662,Prospect Park,3,0.387183,116.646667,57.552910
5,0,Location 1 : 0 - 5,0.0,5.0,Prospect Park,B073,12,0,1,1,7,1,1,B073,2.523662,Prospect Park,3,0.134928,NaN,NaN

In [30]:
t_test(farther1['MEAN_price_clea'].iloc[0],farther1['STD_price_clea'].iloc[0],farther1['Point_Count'].iloc[0],
      farther1['MEAN_price_clea'].iloc[1],farther1['STD_price_clea'].iloc[1],farther1['Point_Count'].iloc[1])

ttest_ind_from_stats: t = -6.10729  p = 1.06078e-09

In [31]:
t_test(farther1['MEAN_price_clea'].iloc[0],farther1['STD_price_clea'].iloc[0],farther1['Point_Count'].iloc[0],
      farther1['MEAN_price_clea'].iloc[2],farther1['STD_price_clea'].iloc[2],farther1['Point_Count'].iloc[2])

ttest_ind_from_stats: t = -5.82297  p = 6.04021e-09

In [32]:
t_test(farther1['MEAN_price_clea'].iloc[0],farther1['STD_price_clea'].iloc[0],farther1['Point_Count'].iloc[0],
      farther1['MEAN_price_clea'].iloc[3],farther1['STD_price_clea'].iloc[1],farther1['Point_Count'].iloc[3])

ttest_ind_from_stats: t = -5.72028  p = 1.15424e-08

In [33]:
t_test(farther1['MEAN_price_clea'].iloc[0],farther1['STD_price_clea'].iloc[0],farther1['Point_Count'].iloc[0],
      farther1['MEAN_price_clea'].iloc[4],farther1['STD_price_clea'].iloc[4],farther1['Point_Count'].iloc[4])

ttest_ind_from_stats: t = -1.0983  p = 0.273592

In [35]:
t_test(farther1['MEAN_price_clea'].iloc[1],farther1['STD_price_clea'].iloc[1],farther1['Point_Count'].iloc[1],
      farther1['MEAN_price_clea'].iloc[2],farther1['STD_price_clea'].iloc[2],farther1['Point_Count'].iloc[2])

ttest_ind_from_stats: t = 0.00455014  p = 0.99637

In [36]:
t_test(farther1['MEAN_price_clea'].iloc[1],farther1['STD_price_clea'].iloc[1],farther1['Point_Count'].iloc[1],
      farther1['MEAN_price_clea'].iloc[3],farther1['STD_price_clea'].iloc[3],farther1['Point_Count'].iloc[3])

ttest_ind_from_stats: t = -1.08408  p = 0.278399

In [37]:
t_test(farther1['MEAN_price_clea'].iloc[1],farther1['STD_price_clea'].iloc[1],farther1['Point_Count'].iloc[1],
      farther1['MEAN_price_clea'].iloc[4],farther1['STD_price_clea'].iloc[4],farther1['Point_Count'].iloc[4])

ttest_ind_from_stats: t = 1.32091  p = 0.188238

In [38]:
t_test(farther1['MEAN_price_clea'].iloc[2],farther1['STD_price_clea'].iloc[2],farther1['Point_Count'].iloc[2],
      farther1['MEAN_price_clea'].iloc[3],farther1['STD_price_clea'].iloc[3],farther1['Point_Count'].iloc[3])

ttest_ind_from_stats: t = -1.05809  p = 0.290077

In [39]:
t_test(farther1['MEAN_price_clea'].iloc[1],farther1['STD_price_clea'].iloc[1],farther1['Point_Count'].iloc[1],
      farther1['MEAN_price_clea'].iloc[4],farther1['STD_price_clea'].iloc[4],farther1['Point_Count'].iloc[4])

ttest_ind_from_stats: t = 1.32091  p = 0.188238

In [12]:
greenpoint

,Point_Count,Name,FromBreak,ToBreak,Selected_N,Prop_ID,Barbecue,Basketball,Dogfriend,Eateries,Playground,Tennis,skate,parknum,area,park_name,ORIG_FID,AnalysisArea,MEAN_price_clea,STD_price_clea
0,45,Location 1 : 10 - 15,10.0,15.0,McCarren Park,B058,1,2,1,1,1,1,0,B058,0.192764,McCarren Park,4,0.720503,73.066667,29.252350
1,1494,Location 1 : 5 - 10,5.0,10.0,McCarren Park,B058,1,2,1,1,1,1,0,B058,0.192764,McCarren Park,4,0.456225,143.076975,86.980794
2,1076,Location 1 : 0 - 5,0.0,5.0,McCarren Park,B058,1,2,1,1,1,1,0,B058,0.192764,McCarren Park,4,0.159076,166.400558,82.001091

In [40]:
t_test(greenpoint['MEAN_price_clea'].iloc[0],greenpoint['STD_price_clea'].iloc[0],greenpoint['Point_Count'].iloc[0],
      greenpoint['MEAN_price_clea'].iloc[1],greenpoint['STD_price_clea'].iloc[1],greenpoint['Point_Count'].iloc[1])

ttest_ind_from_stats: t = -14.2672  p = 1.84635e-22

In [41]:
t_test(greenpoint['MEAN_price_clea'].iloc[0],greenpoint['STD_price_clea'].iloc[0],greenpoint['Point_Count'].iloc[0],
      greenpoint['MEAN_price_clea'].iloc[2],greenpoint['STD_price_clea'].iloc[2],greenpoint['Point_Count'].iloc[2])

ttest_ind_from_stats: t = -18.5687  p = 3.15667e-30

In [42]:
t_test(greenpoint['MEAN_price_clea'].iloc[1],greenpoint['STD_price_clea'].iloc[1],greenpoint['Point_Count'].iloc[1],
      greenpoint['MEAN_price_clea'].iloc[2],greenpoint['STD_price_clea'].iloc[2],greenpoint['Point_Count'].iloc[2])

ttest_ind_from_stats: t = -6.93428  p = 5.2338e-12

In [13]:
w4

,Point_Count,Name,FromBreak,ToBreak,Selected_N,Prop_ID,Barbecue,Basketball,Dogfriend,Eateries,Playground,Tennis,skate,parknum,area,park_name,ORIG_FID,AnalysisArea,MEAN_price_clea,STD_price_clea
0,180,Location 1 : 10 - 15,10.0,15.0,Washington Square Park,M098,0,0,1,2,1,0,0,M098,0.053019,Washington Square Park,5,0.808526,162.277778,90.570819
1,2763,Location 1 : 5 - 10,5.0,10.0,Washington Square Park,M098,0,0,1,2,1,0,0,M098,0.053019,Washington Square Park,5,0.492685,222.560623,123.091435
2,2180,Location 1 : 0 - 5,0.0,5.0,Washington Square Park,M098,0,0,1,2,1,0,0,M098,0.053019,Washington Square Park,5,0.187214,204.200000,109.178939

In [ ]:
t_test(w4['MEAN_price_clea'].iloc[0],w4['STD_price_clea'].iloc[0],w4['Point_Count'].iloc[0],
      w4['MEAN_price_clea'].iloc[1],w4['STD_price_clea'].iloc[1],w4['Point_Count'].iloc[1])

In [43]:
t_test(w4['MEAN_price_clea'].iloc[0],w4['STD_price_clea'].iloc[0],w4['Point_Count'].iloc[0],
      w4['MEAN_price_clea'].iloc[2],w4['STD_price_clea'].iloc[2],w4['Point_Count'].iloc[2])

ttest_ind_from_stats: t = -5.86795  p = 1.5723e-08

In [44]:
t_test(w4['MEAN_price_clea'].iloc[1],w4['STD_price_clea'].iloc[1],w4['Point_Count'].iloc[1],
      w4['MEAN_price_clea'].iloc[2],w4['STD_price_clea'].iloc[2],w4['Point_Count'].iloc[2])

ttest_ind_from_stats: t = 5.54815  p = 3.03969e-08

In [14]:
br

,Point_Count,Name,FromBreak,ToBreak,Selected_N,Prop_ID,Barbecue,Basketball,Dogfriend,Eateries,Playground,Tennis,skate,parknum,area,park_name,ORIG_FID,AnalysisArea,MEAN_price_clea,STD_price_clea
0,1891,Location 1 : 10 - 15,10.0,15.0,Fort Greene Park,B032,1,1,1,0,2,1,0,B032,0.16046,Fort Greene Park,2,0.657860,147.907456,90.379075
1,1290,Location 1 : 5 - 10,5.0,10.0,Fort Greene Park,B032,1,1,1,0,2,1,0,B032,0.16046,Fort Greene Park,2,0.401049,149.396124,86.386338
2,191,Location 1 : 0 - 5,0.0,5.0,Fort Greene Park,B032,1,1,1,0,2,1,0,B032,0.16046,Fort Greene Park,2,0.092949,158.979058,142.025459

In [45]:
t_test(br['MEAN_price_clea'].iloc[0],br['STD_price_clea'].iloc[0],br['Point_Count'].iloc[0],
      br['MEAN_price_clea'].iloc[1],br['STD_price_clea'].iloc[1],br['Point_Count'].iloc[1])

ttest_ind_from_stats: t = -0.468316  p = 0.639595

In [46]:
t_test(br['MEAN_price_clea'].iloc[0],br['STD_price_clea'].iloc[0],br['Point_Count'].iloc[0],
      br['MEAN_price_clea'].iloc[2],br['STD_price_clea'].iloc[2],br['Point_Count'].iloc[2])

ttest_ind_from_stats: t = -1.05598  p = 0.292215

In [47]:
t_test(br['MEAN_price_clea'].iloc[1],br['STD_price_clea'].iloc[1],br['Point_Count'].iloc[1],
      br['MEAN_price_clea'].iloc[2],br['STD_price_clea'].iloc[2],br['Point_Count'].iloc[2])

ttest_ind_from_stats: t = -0.907964  p = 0.364932

In [15]:
qn

,Point_Count,Name,FromBreak,ToBreak,Selected_N,Prop_ID,Barbecue,Basketball,Dogfriend,Eateries,Playground,Tennis,skate,parknum,area,park_name,ORIG_FID,AnalysisArea,MEAN_price_clea,STD_price_clea
0,0,Location 1 : 25 - 30,25.0,30.0,Park Of The Americas,Q026,0,1,0,1,1,0,0,Q026,0.016936,Park Of The Americas,7,1.531628,NaN,NaN
1,0,Location 1 : 20 - 25,20.0,25.0,Park Of The Americas,Q026,0,1,0,1,1,0,0,Q026,0.016936,Park Of The Americas,7,1.206592,NaN,NaN
2,10,Location 1 : 15 - 20,15.0,20.0,Park Of The Americas,Q026,0,1,0,1,1,0,0,Q026,0.016936,Park Of The Americas,7,0.964748,85.000000,35.590261
3,107,Location 1 : 10 - 15,10.0,15.0,Park Of The Americas,Q026,0,1,0,1,1,0,0,Q026,0.016936,Park Of The Americas,7,0.722948,86.093458,34.146337
4,79,Location 1 : 5 - 10,5.0,10.0,Park Of The Americas,Q026,0,1,0,1,1,0,0,Q026,0.016936,Park Of The Americas,7,0.465889,40.189873,8.258758
5,91,Location 1 : 0 - 5,0.0,5.0,Park Of The Americas,Q026,0,1,0,1,1,0,0,Q026,0.016936,Park Of The Americas,7,0.162449,56.252747,48.637570

In [48]:
t_test(qn['MEAN_price_clea'].iloc[2],qn['STD_price_clea'].iloc[2],qn['Point_Count'].iloc[2],
      qn['MEAN_price_clea'].iloc[3],qn['STD_price_clea'].iloc[3],qn['Point_Count'].iloc[3])

ttest_ind_from_stats: t = -0.0932288  p = 0.927459

In [49]:
t_test(qn['MEAN_price_clea'].iloc[2],qn['STD_price_clea'].iloc[2],qn['Point_Count'].iloc[2],
      qn['MEAN_price_clea'].iloc[4],qn['STD_price_clea'].iloc[4],qn['Point_Count'].iloc[4])

ttest_ind_from_stats: t = 3.96798  p = 0.00317779

In [50]:
t_test(qn['MEAN_price_clea'].iloc[2],qn['STD_price_clea'].iloc[2],qn['Point_Count'].iloc[2],
      qn['MEAN_price_clea'].iloc[5],qn['STD_price_clea'].iloc[5],qn['Point_Count'].iloc[5])

ttest_ind_from_stats: t = 2.32665  p = 0.0367663

In [51]:
t_test(qn['MEAN_price_clea'].iloc[3],qn['STD_price_clea'].iloc[3],qn['Point_Count'].iloc[3],
      qn['MEAN_price_clea'].iloc[4],qn['STD_price_clea'].iloc[4],qn['Point_Count'].iloc[4])

ttest_ind_from_stats: t = 13.3856  p = 9.99967e-26

In [52]:
t_test(qn['MEAN_price_clea'].iloc[3],qn['STD_price_clea'].iloc[3],qn['Point_Count'].iloc[3],
      qn['MEAN_price_clea'].iloc[5],qn['STD_price_clea'].iloc[5],qn['Point_Count'].iloc[5])

ttest_ind_from_stats: t = 4.91291  p = 2.2266e-06

In [53]:
t_test(qn['MEAN_price_clea'].iloc[4],qn['STD_price_clea'].iloc[4],qn['Point_Count'].iloc[4],
      qn['MEAN_price_clea'].iloc[5],qn['STD_price_clea'].iloc[5],qn['Point_Count'].iloc[5])

ttest_ind_from_stats: t = -3.0994  p = 0.00254484